<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>対局中 - つい碁</title>
<link rel="stylesheet" type="text/css" href="{{ media_url }}/css/main.css">
</head>
<body>
<h1><a href="{{ url_for('webigo/index') }}">つい碁</a></h1>
<p>
{{ game.turn_count }}手目<br />
{{ game.turn_label }}番<br />
</p>

<p class="goban">
{{ game.render()|safe }}
</p>

<p><a href="{{ url_for('webigo/pass', game_id=game.key().name()) }}">パス</a></p>

<p>
黒アゲハマ: {{ game.black_caught }}<br />
白アゲハマ: {{ game.white_caught }}<br />
</p>
</body>
</html>
